<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cjf.mobileoa.checkinout.dao.UserMapper">
  <resultMap id="BaseResultMap" type="io.cjf.mobileoa.checkinout.po.User">
    <id column="openId" jdbcType="VARCHAR" property="openid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="avatar_url" jdbcType="CHAR" property="avatarUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    openId, nickname, gender, avatar_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where openId = #{openid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where openId = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="io.cjf.mobileoa.checkinout.po.User">
    insert into user (openId, nickname, gender, 
      avatar_url)
    values (#{openid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, 
      #{avatarUrl,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="io.cjf.mobileoa.checkinout.po.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        openId,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.cjf.mobileoa.checkinout.po.User">
    update user
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=CHAR},
      </if>
    </set>
    where openId = #{openid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.cjf.mobileoa.checkinout.po.User">
    update user
    set nickname = #{nickname,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      avatar_url = #{avatarUrl,jdbcType=CHAR}
    where openId = #{openid,jdbcType=VARCHAR}
  </update>
</mapper>